.content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 3;
}

.cards {
    width: 265px;
    background-color: black;
    color: #e64a16;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 3px #e64a16e6;
    font-family: 'Roboto', serif;
    align-self: flex-start;
    animation: 0.4s ease-out 0s scaler;
    border: 1px solid #fae1d9f7;
}

.cards:hover {
    transform: scale(1.1);
    box-shadow: 7px 7px 20px 1px #e64a168c;
    transition: 0.2s;
    transition-timing-function: ease-out;
}

.header {
    font-size: 1.3em;
    letter-spacing: 1px;
    padding: 0.4em 1em;
    background-color: transparent;
    color: #e64a16;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #fb926ff7;
    font-family: 'Roboto Slab', serif;
}

.data {
    margin: 0.5em 1em;
    display: flex;
}

.dob {
    font-family: 'Roboto', serif;
}

.gender {
    margin-left: auto;
    font-size: 1.3em;
}

span.films {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    margin: 0.5em 1em;
}

ul.filmList {
    padding: 0 2em;
}

ul.filmList>li {
    list-style: none;
}

fa-minus-circle,
fa-plus-circle,
a {
    cursor: pointer !important;
}

.next {
    font-size: 3.5em;
    width: 265px;
    margin: 0.4em;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn-bck {
    cursor: progress;
}

.btn-bck>svg {
    box-shadow: 3px 3px 20px 3px #e64a16b5 !important;
    transform: translate(10px, 10px);
}

.next>svg {
    color: #e64a16;
    border-radius: 50%;
    box-shadow: 10px 14px #e64a167d;
    border: 5px solid #e64a16;
    box-sizing: border-box;
}

.zoom-away {
    transition: 0.2s;
    transition-timing-function: ease-out;
    animation: 0.4s ease-in 0s zoom forwards !important;
}

@keyframes zoom {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes scaler {
    0% {
        transform: scale(5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.search {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-family: 'Roboto', serif;
    opacity: 0;
    animation: 0.4s ease-in 0s scaler forwards;
    flex-wrap: wrap;
}

.search > input {
    border-radius: 5px;
    width: 350px;
    height: 2em;
    color: #e64a16;
    background-color: black;
    margin: 0.5em 1em;
    padding: 0 0.5em;
    font-size: 1.3em;
    box-shadow: 0px 0px 13px 3px #e64a16e6;
    border: 1px solid #fae1d9f7;
}

.search > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e64a16;
  opacity: 0.4; /* Firefox */
}

.search > input:focus {
  box-shadow: 7px 7px 20px 1px #e64a168c;
  transform: scale(1.2);
  outline: #e64a16;
  transition: 0.2s;
  transition-timing-function: ease-out;
}



@keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }