/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgba(241, 233, 233, 0.795) !important;
}

app-root {
    display: flex;
}

app-results {
    max-width: 70%;
}
app-search {
    margin-left: auto;
    max-width: 30%;
}