/* You can add global styles to this file, and also import other style files */

body {
    background: #000 url(http://sylvaingarnot.fr/media/stars.png) repeat top center !important;
    animation: move-twink-back 500s linear infinite;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@media only screen and (max-width: 500px) {
    .next {
        font-size: 2em;
        width: 265px;
    }
    .search {
        max-width: 80vw !important;
    }
    .cards {
        width: 269px !important;
    }
    .content {
        justify-content: space-around !important;
    }
}


.navbar-brand {
    font-weight: bolder;
    color: #e64a16 !important;
}

.navbar {
    border-color: #e64a166e;
    border-bottom: 1px solid;
    margin-bottom: 1em;
    box-shadow: 0px 6px 4px 0px #e64a163d;
}

.navber-brand>img {
    filter: grayscale(100%) brightness(34%) sepia(100%) hue-rotate(-50deg) saturate(430%) contrast(1.9);
}

.small {
    font-size: 0.7em;
    font-weight: 400;
    opacity: 0.7;
}

.deathStar {
    position: fixed;
    bottom: 3em;
    right: 3em;
    max-width: 10em;
    z-index: 1;
    opacity: 0;
    filter: contrast(1.3)blur(0.6px)brightness(40%);
    animation: 0.4s ease-out 0s zoomDS forwards;
}

@keyframes zoomDS {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}