.search {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Roboto', serif;
    opacity: 0;
    animation: 0.4s ease-in 0s scaler forwards;
}

.search > input {
    border-radius: 5px;
    width: 350px;
    height: 2em;
    color: #e64a16;
    background-color: black;
    margin: 0.5em 1em;
    border: 1px solid #e64a16;
    padding: 0 0.5em;
    font-size: 1.3em;
    box-shadow: 0px 5px 13px 1px #e64a168c;
}

.search > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e64a16;
  opacity: 0.4; /* Firefox */
}

.search > input:focus {
  box-shadow: 0px 12px 20px 8px #e64a16b0;
  transform: scale(1.2);
  outline: #e64a16;
  transition: 0.2s;
  transition-timing-function: ease-out;
}



@keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }